.project*
*.DS_Store
.settings*
*.AppleDouble
*.idea
export*
vendor*
composer.lock
node_modules
bower_components
.sass-cache
*.sublime-project
*.sublime-workspace
report
._*
tags
//*.mp4
*.ogg
*.ogv
*.webm
*.vtt%
public/content/upload*
