.brushpack-collection {
    position: relative;
    height: 0;
    clear: both;
    text-align: center;
    background: $blue;
    color: $white;

    .brushpack-arrow {
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        top: -18px;
        left: -18px;
        @include triangle(36px, $blue, up);
    }
}

.brushpack {
    display: none;
    margin: 0 auto;
    max-width: 674px;
    padding: $content-padding-xs;

    &.active {
        display: block;
    }
}

.brushhead.active .brushpack-collection {
    height: auto;

    .brushpack-arrow {
        opacity: 1;
    }
}

@media (min-width: $container-sm) {
    .brushpack-collection {
        text-align: left;
    }
}
