// Grid settings
// ---------------------------------

// Set global Susy settings
$grid-columns: 12;
$grid-gutter-width: 24px;

$container-xs-height: 410px;

$container-sm: 768px;
$container-sm-height: 470px;

$container-md: 992px;
$container-md-height: 470px;
$container-md-width: 960px;
