.p-hidden {
    display: none;
}

.n01-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    button,
    input,
    select,
    textarea {
        color: inherit;
        font-family: verdana, arial, sans-serif;
        font-size: 100%;
        margin: 0;
        vertical-align: baseline;
    }

    button,
    input {
        line-height: normal;
    }

    button,
    input[type='submit'],
    input[type='button'] {
        background: 0;
        border: 0;
        padding: 0;
    }

    button,
    select {
        text-transform: none;
    }

    button,
    input[type='button'],
    input[type='reset'],
    input[type='submit'] {
        @include appearance(button);
        cursor: pointer;
    }

    button {
        border: 0;
    }

    fieldset {
        margin: 0;
        padding: 0;
        border: 0;
    }

    ol,
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        font-size: 11px;
        font-size: 1.1rem;
        color: #0e5fd8;
    }
}

.p-n01-header {
    font-family: $font-family-base;
    margin-bottom: 29px;
    height: 54px;

    .p-shadow-overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 159px;
        left: 0;
        top: 0;
        z-index: 4;
        background: url('/content/images/bg-shadow.png') repeat-x left top;
        opacity: .25;
    }

    .p-topbar {
        position: relative;
        z-index: 20;
        left: 0;
        top: 0;
        width: 100%;
        @include transform(translate3d(0, 0, 0));
        padding: 20px 11px 0;
    }

    .p-bar-wrapper,
    .p-logo-wrapper {
        position: relative;
        max-width: 960px;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0);
        z-index: 21;
    }

    .p-logo {
        @include transform(translate3d(0, 0, 0));
        display: block;
        position: absolute;
        background: url('/content/images/logo-tiler-m.png') 0 0 repeat-y;
        z-index: 20;
        width: 140px;
        padding-top: 87px;
        margin-top: 20px;
        box-shadow: 0 3px 8px 3px rgba(0, 0, 0, .4);

        .p-refresh {
            position: absolute;
            width: 100%;
            height: 87px;
            top: 0;
        }

        &:before {
            content: '';
            background: url('/content/images/sprite-header-rebrand.png') 0 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 140px;
            height: 140px;
        }

        span {
            position: relative;
            z-index: 1;
            display: table-cell;
            color: #fff;
            vertical-align: middle;
            word-break: break-word;
            font-size: 17px;
            height: 41px;
            padding: 6px 13px;

            &.p-long {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    .p-bar-nav {
        position: relative;
        font-size: 0;
        height: 100%;
        top: -4px;
        margin-left: 173px;

        &.p-position {
            top: -13px;

            > li {
                padding-bottom: 7px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            height: 1px;
            background: #fff;
            opacity: .2;
        }

        > li {
            position: relative;
            display: table-cell;
            height: 100%;
            color: #fff;
            cursor: pointer;
            vertical-align: middle;
            font-size: 14px;
            line-height: 18px;
            padding-bottom: 16px;

            .p-padding {
                display: table-cell;
                height: 100%;
                min-width: 20px;
                min-width: 20px;
                width: 40px;
            }

            &.p-last {
                padding-right: 73px;
            }

            span {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
            }

            &:hover,
            &.p-hover {
                z-index: 1;

                .p-sub-wrapper:before {
                    display: block;
                }

                .p-sub-menu {
                    max-height: 600px;
                }
            }

            &:first-child {
                padding-left: 15px;
            }
        }

        .p-sub-wrapper {
            position: relative;
            top: 15px;

            &:before {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                content: '';
                width: 0;
                height: 0;
                overflow: hidden;
                font: 0/0 serif;
                border-bottom: 5px solid #fff;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 0;
                content: '';
                position: absolute;
                left: 20%;
                top: -5px;
                display: none;
            }
        }

        .p-sub-menu {
            font-family: $font-family-base;
            position: absolute;
            max-height: 0;
            overflow: hidden;
            width: 250px;
            left: -15px;
            top: 100%;
            text-align: left;
            box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
            padding-left: 15px;
            padding-right: 15px;
            background: url('/content/images/flyout-bg.png') 0 0 repeat-x;
            background-size: 100% 100%;

            a {
                position: relative;
                display: block;
                font-size: 12px;
                line-height: 14px;
                color: #3c3c3c;

                &:hover {
                    color: #000;
                }
            }

            li {
                padding-bottom: 19px;
            }

            .p-first-child {
                padding-top: 13px;
            }

            .p-last-child {
                padding-bottom: 13px;
            }
        }
    }

    .p-search {
        position: absolute;
        z-index: 1;
        top: 50%;
        margin-top: -28px;
        right: 0;
        height: 31px;
        opacity: .8;

        &.p-position {
            top: 18px;
        }

        &:hover {
            opacity: 1;
        }

        fieldset {
            float: right;
            width: 20px;
        }

        input {
            font-family: $font-family-base;
            font-size: 12px;
            border-radius: 3px;
            float: right;
            width: 100%;
            border: 1px solid #cccedb;
            height: 31px;
            opacity: 0;
            padding-left: 10px;
            padding-right: 25px;
            color: #b9bbc7;
            line-height: 32px;

            @include placeholder {
                color: #b9bbc7;
            }

            &:focus {
                color: #000;
            }
        }

        button {
            display: block;
            position: absolute;
            top: 7px;
            right: 5px;
            width: 18px;
            height: 18px;
            background: url('/content/images/sprite-header-rebrand.png') no-repeat -140px -106px;
            text-indent: -9999em;
        }
    }

    .p-sidebar {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    body {
        @include transition(left 200ms ease-out);
    }

    .p-n01-header {
        margin-bottom: 14px;

        .p-logo {
            position: absolute;
            background: url('/content/images/logo-tiler-xs.png') 0 0 repeat-y;
            width: 106px;
            padding-top: 66px;
            margin-top: 10px;
            margin-left: 6px;

            &:before {
                content: '';
                background-position: -140px 0;
                width: 106px;
                height: 106px;
            }

            .p-refresh {
                height: 66px;
            }

            span {
                font-size: 14px;
                height: 38px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 0;
                padding-bottom: 0;

                &.p-long {
                    font-size: 12px;
                    line-height: 15px;

                    &.p-padding {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }
            }
        }

        .p-topbar {
            position: absolute;
            padding-top: 0;
            margin-top: 10px;
        }

        .p-bar-nav {
            display: none;
        }

        .p-search {
            display: none;
            position: relative;
            height: 48px;
            padding: 8px 16px 0;
            margin-top: 0;
            right: 0;
            left: 0;
            top: 0;

            fieldset {
                float: none;
                position: relative;
                @include transition(none);
                width: auto;
            }

            input {
                opacity: 1;
                font-size: 14px;
            }

            button {
                background-position: -176px -106px;
            }
        }

        .p-language {
            a {
                display: block;
                border-top: 1px solid #ccc;
                background: #062f88;
                color: #fff;
                font-size: 21px;
                line-height: 29px;
                padding: 21px 15px 20px 13px;

                &:first-child {
                    display: none;
                }
            }
        }

        .p-sidebar {
            overflow: hidden;
            position: fixed;
            display: block;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            z-index: 4;
            @include transform(translate3d(100%, 0, 0));
            @include transition(all 200ms ease-out);

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: -20px;
                top: -20px;
                bottom: -20px;
                width: 20px;
                -moz-box-shadow: 0 0 30px rgba(0, 0, 0, .2);
                -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .2);
                box-shadow: 0 0 30px rgba(0, 0, 0, .2);
                z-index: 1;
            }

            .p-nav-wrapper {
                height: 100%;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                margin-left: 44px;
                background: #ececec;
            }

            .p-search {
                display: block;
            }
        }

        .p-category-nav {
            font-size: 16px;
            line-height: 18px;

            .p-toggler {
                display: table;
                width: 100%;
                border-bottom: 1px solid #6eaec4;
                cursor: pointer;
                @include transform(translatez(0));
            }

            .p-title {
                position: relative;
                background: #0089c4;
                display: table;
                width: 100%;

                &:after {
                    content: '';
                    background: url('/content/images/sprite-header-rebrand.png') -140px -124px;
                    width: 6px;
                    height: 9px;
                    position: absolute;
                    right: 15px;
                    right: 10px;
                    top: 50%;
                    margin-top: -5px;
                }

                span {
                    display: table-cell;
                    height: 46px;
                    padding: 0 40px 0 16px;
                    vertical-align: middle;
                    color: #fff;
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            .p-sub {
                position: relative;
                display: block;
                clear: both;
                max-height: 0;
                overflow: hidden;
                @include transition(all 300ms cubic-bezier(.715, .005, .355, 2));

                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 0;
                    border-top: 1px solid #b4b5b8;
                    border-bottom: 1px solid #cccdd2;
                }

                li {
                    border-top: 1px solid #d4d8dc;
                    background: #fff;

                    &:first-child {
                        border-top: 0;
                    }

                    a {
                        display: table;
                        width: 100%;
                        color: #3c3c3c;
                        font-size: 14px;
                        line-height: 22px;

                        span {
                            display: table-cell;
                            height: 46px;
                            vertical-align: middle;
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                }
            }

            .p-active {
                .p-title:after {
                    background-position: -146px -124px;
                    width: 8px;
                    height: 5px;
                }

                .p-sub {
                    max-height: 800px;
                }
            }
        }

        .p-small-nav {
            display: block;
            position: absolute;
            top: 9px;
            right: 0;
            height: 5px;
            width: 25px;
            border-top: 5px solid #fff;
            cursor: pointer;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: -14px;
                right: 0;
                left: 0;
                height: 5px;
                border-top: 5px solid #fff;
            }

            &:after {
                top: 4px;
            }
        }
    }

    .p-show-sidebar {
        body {
            left: -100%;
            overflow: hidden;
            position: fixed;
        }

        .p-block {
            pointer-events: none;
        }

        .p-topbar {
            @include transform(translate3d(-100%, 0, 0));
        }

        .p-sidebar {
            @include transform(translate3d(0, 0, 0));
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
        }

        .p-small-nav {
            left: 100%;
            margin-left: 20px;
        }

        .p-left-bar {
            position: absolute;
            height: 100%;
            width: 44px;
            left: 100%;
            right: 0;
            z-index: 9;
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 960px) {
    .p-n01-header .p-bar-nav > li:nth-child(4) .p-sub-menu {
        left: auto;
        right: 0;
    }
}

@media screen and (min-width: 701px) {
    .p-n01-header {
        margin: 0 2%;

        &.p-show-search {
            .p-bar-nav {
                li {
                    opacity: .2;
                }

                > li:hover .p-sub-wrapper:before {
                    display: none;
                }
            }

            .p-sub-menu {
                display: none;
            }

            .p-search {
                opacity: 1;

                fieldset {
                    width: 250px;
                }

                input {
                    opacity: 1;
                }

                button {
                    background-position: -158px -106px;
                }
            }
        }
    }
}
