// Colors
// ---------------------------------

$black:           #000;
$white:           #fff;
$gray-darker:     #323232;
$gray-dark:       #4f4f4f;
$gray:            #959595;
$gray-light:      #cacaca;
$gray-lighter:    #fafafa;

$blue:            #09f;
$blue-light:      #40b3ff;

$green:           #090;
$green-light:     #82c253;

$brand-primary:   $blue;

$bg-color:        $gray-light;
$heading-color:   $green;
$text-color:      $gray;
$link-color:      $brand-primary;
$error-color:     #f99212;

$color-social-facebook: #3b589e;
$color-social-twitter:  #00abf0;
$color-social-youtube:  #e21111;
$color-social-google:   #e5212d;
$color-social-email:    #ff9600;


// Typography
// ---------------------------------

$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, 'Times New Roman', Times, serif;
$font-family-base:       $font-family-serif;

$font-size-small:        14px;
$font-size-base:         16px;
$font-size-large:        25px;
$font-size-xlarge:       40px;
$font-size-xxlarge:      70px;

$font-size-h1:           40px;
$font-size-h2:           34px;
$font-size-h3:           24px;
$font-size-h4:           22px;
$font-size-h5:           $font-size-base;
$font-size-h6:           $font-size-small;

$line-height-base:       1.5;
$line-height-computed:   floor(($font-size-base * $line-height-base));

$headings-font-family:   $font-family-base;
$headings-font-weight:   300;
$headings-line-height:   1.1;


// Components
// ---------------------------------

$content-padding-small: 30px;
$content-padding:       80px;
$content-padding-large: 95px;


// Z-index master list
// ---------------------------------
$zindex-preloadscreen: 10;
$zindex-menucontents:  20;
$zindex-nav:           80;
$zindex-fullscreen:    90;
$zindex-splashscreen:  100;
$zindex-portraitmode:  110;
